.card-box {
  width: 340px;
  height: 225px;
  background: linear-gradient(45deg, blueviolet, deeppink);
   position: absolute; 
  top: 100px;
  z-index: 1; 
  border-radius: 5px;
  padding: 20px 20px 30px 20px;
  
}

img {
  width: 60px;
}
.image-section {
  display: flex;
  justify-content: space-between;
}
.cardNumber {
  margin-top: 30px;
  color: white;
  font-size: 20px;
  letter-spacing: 3px;
}
.holder {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}
.holder p {
  font-size: 13px;
  color: white;
}
.name-on-card{
  margin-top: 10px;
}

